# Firts Jpytr Notebook
This is the first Jupytr notebook you have ever written!!

The first exercise is based off defaults from credit card payments. It gives an idea of how to work with Jupytr and data available.

*italics*

**bold this is bold**

- This
- Is
- A
- List

1. This 
2. is
3. A Numbered
4. List

In [2]:
import pandas as pd

In [9]:
df = pd.read_excel('default_of_credit_card_clients__courseware_version_1_21_19.xls')

In [10]:
df.shape

(30000, 25)

In [11]:
df.info

<bound method DataFrame.info of                   ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE PAY_1  PAY_2  \
0      798fc410-45c1      20000    2          2         1   24     2      2
1      8a8c8f3b-8eb4     120000    2          2         2   26    -1      2
2      85698822-43f5      90000    2          2         2   34     0      0
3      0737c11b-be42      50000    2          2         1   37     0      0
4      3b7f77cc-dbc0      50000    1          2         1   57    -1      0
...              ...        ...  ...        ...       ...  ...   ...    ...
29995  ecff42d0-bdc6     220000    1          3         1   39     0      0
29996  99d1fa0e-222b     150000    1          3         2   43    -1     -1
29997  95cdd3e7-4f24      30000    1          2         2   37     4      3
29998  00d03f02-04cd      80000    1          3         1   41     1     -1
29999  15d69f9f-5ad3      50000    1          2         1   46     0      0

       PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1     -1  ...          0          0          0         0       689
1          0      0  ...       3272       3455       3261         0      1000
2          0      0  ...      14331      14948      15549      1518      1500
3          0      0  ...      28314      28959      29547      2000      2019
4         -1      0  ...      20940      19146      19131      2000     36681
...      ...    ...  ...        ...        ...        ...       ...       ...
29995      0      0  ...      88004      31237      15980      8500     20000
29996     -1     -1  ...       8979       5190          0      1837      3526
29997      2     -1  ...      20878      20582      19357         0         0
29998      0      0  ...      52774      11855      48944     85900      3409
29999      0      0  ...      36535      32428      15313      2078      1800

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0             0         0         0         0                           1
1          1000      1000         0      2000                           1
2          1000      1000      1000      5000                           0
3          1200      1100      1069      1000                           0
4         10000      9000       689       679                           0
...         ...       ...       ...       ...                         ...
29995      5003      3047      5000      1000                           0
29996      8998       129         0         0                           0
29997     22000      4200      2000      3100                           1
29998      1178      1926     52964      1804                           1
29999      1430      1000      1000      1000                           1

[30000 rows x 25 columns]>

In [13]:
df.head

<bound method NDFrame.head of                   ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE PAY_1  PAY_2  \
0      798fc410-45c1      20000    2          2         1   24     2      2
1      8a8c8f3b-8eb4     120000    2          2         2   26    -1      2
2      85698822-43f5      90000    2          2         2   34     0      0
3      0737c11b-be42      50000    2          2         1   37     0      0
4      3b7f77cc-dbc0      50000    1          2         1   57    -1      0
...              ...        ...  ...        ...       ...  ...   ...    ...
29995  ecff42d0-bdc6     220000    1          3         1   39     0      0
29996  99d1fa0e-222b     150000    1          3         2   43    -1     -1
29997  95cdd3e7-4f24      30000    1          2         2   37     4      3
29998  00d03f02-04cd      80000    1          3         1   41     1     -1
29999  15d69f9f-5ad3      50000    1          2         1   46     0      0

       PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1     -1  ...          0          0          0         0       689
1          0      0  ...       3272       3455       3261         0      1000
2          0      0  ...      14331      14948      15549      1518      1500
3          0      0  ...      28314      28959      29547      2000      2019
4         -1      0  ...      20940      19146      19131      2000     36681
...      ...    ...  ...        ...        ...        ...       ...       ...
29995      0      0  ...      88004      31237      15980      8500     20000
29996     -1     -1  ...       8979       5190          0      1837      3526
29997      2     -1  ...      20878      20582      19357         0         0
29998      0      0  ...      52774      11855      48944     85900      3409
29999      0      0  ...      36535      32428      15313      2078      1800

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0             0         0         0         0                           1
1          1000      1000         0      2000                           1
2          1000      1000      1000      5000                           0
3          1200      1100      1069      1000                           0
4         10000      9000       689       679                           0
...         ...       ...       ...       ...                         ...
29995      5003      3047      5000      1000                           0
29996      8998       129         0         0                           0
29997     22000      4200      2000      3100                           1
29998      1178      1926     52964      1804                           1
29999      1430      1000      1000      1000                           1

[30000 rows x 25 columns]>

In [14]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [15]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [17]:
df['ID'].nunique()

29687

In [18]:
id_counts = df['ID'].value_counts()
id_counts.head()

51e5ff58-5a0f    2
060c8137-6a4e    2
33bf169b-258a    2
5f79f818-18af    2
73ea498f-44b2    2
Name: ID, dtype: int64

In [19]:
id_counts.value_counts()

1    29374
2      313
Name: ID, dtype: int64

In [20]:
import numpy as np

In [21]:
np.random.seed(seed = 24)
random_integers = np.random.randint(low = 1, high = 5, size = 100)

In [22]:
random_integers[:5]

array([3, 4, 1, 4, 2])

In [23]:
is_equal_to_3 = random_integers == 3

In [24]:
is_equal_to_3[:5]

array([ True, False, False, False, False])